<%= video_tag "GalaxyBG.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "myVideo" %>

<div class="site-wrapper">

    <!-- main content area -->
    <main class="container">

        <!-- single portfolio -->
        <section class="single-portfolio background-white rounded padding-50 shadow-blue mt-0">
         <div class="load-more text-center mt-4">
            <%= link_to root_path do %>
            <div class="btn btn-default"><i class="margin fas fa-home"></i>Home</div>
            <% end %>
        </div>
        <h2 class="archive-header">Ruby On Rails</h2>
        <!-- portfolio info -->
        <ul class="list-inline portfolio-info mb mt-4 ">
            <li class="list-inline-item"><i class="margin fas fa-user"></i>Alpha Developer</li>
            <li class="list-inline-item"><i class="margin fas fa-calendar"></i>2019-2021 (Continue...)</li>
            <li class="list-inline-item"><i class="margin fas fa-link"></i><a href="https://aliraza-web-dev.herokuapp.com/" target="_blank">aliraza-web-dev.herokuapp.com</a></li>
        </ul>
        <div class="spacer" data-height="40"></div>

        <!-- portfolio image -->
        <%= image_tag("RubyOnRails.png", {:style => "width:1000px; border-radius: 20px;"}) %>

        <!-- portfolio content -->
        <div class="portfolio-content mt-5 mb">
            <h3>Overview</h3>
            <p>Ruby on Rails, or Rails, is a server-side web application framework written in Ruby under the MIT License. Rails is a model view controller (MVC) framework, providing default structures for a database, a web service, and web pages.</p>
            <p>HTML stands for Hypertext Markup Language, and it is the most widely used language to write Web Pages. As its name suggests, HTML is a Markup Language which means you use HTML to simply "mark-up" a text document with tags that tell a Web browser how to structure it to display.</p>
            <p>Depending on the industry we are talking about, design can have many different definitions. Most generally, “design” is a process for deliberately creating a product to meet a set of needs. Mobile app development requires both engineering design and product design. Engineering design focuses on physics, such as speed, mass and other performance measures while product design also considers user and consumers by asking what the user wants in a product.</p>
        </div>
    </section>

</main>

</div>

<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>