<!-- Start Resume Area -->
<div class="rn-resume-area rn-section-gap section-separator" id="resume">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title text-center">
					<span class="subtitle">2+ Years of Experience</span>
					<h2 class="title">My Resume</h2>
				</div>
			</div>
		</div>
		<div class="row mt--45">
			<div class="col-lg-12">
				<ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="true">education</a>
					</li>
				</ul>
				<!-- Start Tab Content Wrapper  -->
				<div class="rn-nav-content tab-content" id="myTabContents">
					<!-- Start Single Tab  -->
					<div class="tab-pane show active fade single-tab-area" id="education" role="tabpanel" aria-labelledby="education-tab">
						<div class="personal-experience-inner mt--40">
							<div class="row">
								<!-- Start Skill List Area  -->
								<div class="col-lg-6 col-md-12 col-12">
									<div class="content">
										<span class="subtitle">2012 - Present</span>
										<h4 class="maintitle">Education Quality</h4>
										<div class="experience-list">

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Quasim Public High School</h4>
															<span>Quasim Public High School, 2012 - 2014</span>
														</div>
														<div class="date-of-time">
															<span>80%</span>
														</div>
													</div>
													<p class="description">The intersting period of education when I start my first Computer Education. I was so much intrested in the education of Computer Sciences and I was passionate for it.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Nishat College of Science and Technology</h4>
															<span>College of Science and Technology 2016 - 2018</span>
														</div>
														<div class="date-of-time">
															<span>67%</span>
														</div>
													</div>
													<p class="description">My Major subject was Science Subjects (Math, Chemistry, Physics). I was so much intrested in Math and I can easily solve these mathametical problems. I was intrested iin learning books and so many other things.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Bachelor of Science in Software Engineering</h4>
															<span>COMSATS Institute of Information Technology, 2019 - Present</span>
														</div>
														<div class="date-of-time">
															<span>2.71CGPA</span>
														</div>
													</div>
													<p class="description">I'm done my education In Comsats University of Information and Technology. Here I learn so many thing about technology like languages and I fullfill my dream education In Comsats.</p>
												</div>
											</div>
											<!-- End Single List  -->

										</div>
									</div>
								</div>
								<!-- End Skill List Area  -->

								<!-- Start Skill List Area 2nd  -->
								<div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
									<div class="content">
										<span class="subtitle">Learning Experience</span>
										<h4 class="maintitle">ACHIEVEMENTS</h4>
										<div class="experience-list">

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Bachelor in Software Engineering </h4>
															<span>BSE (2019 - Present)</span>
														</div>
														<div class="date-of-time">
															<span>4 Year</span>
														</div>
													</div>
													<p class="description">Comsats University, Sahiwal, Punjab, Sahiwal I'm Web Developer and Quality Software Engineer. I have good experience in Coding Projects and have good learning ability.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Front and Back End Web Development</h4>
															<span>09/2019 - 12/2019</span>
														</div>
														<div class="date-of-time">
															<span>CERTIFICATE</span>
														</div>
													</div>
													<p class="description">I got the sertificate in front end developmnet from evslearning platform and I also have the experience in both front end and back-end development. I also learn differnet languages like python, java, Ruby, C++, C#.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Developer and Designer</h4>
															<span>Development Experience</span>
														</div>
														<div class="date-of-time">
															<span>EXPERIENCE</span>
														</div>
													</div>
													<p class="description">Web Developer Self-motivated and hardworking seeking an opportunity to obtain a position that enables me to use my strong technical skills, educational background and ability to work with good people. e. A position in a results-oriented organization that seeks ambitious and conscious individuals.</p>
												</div>
											</div>
											<!-- End Single List  -->

										</div>
									</div>
								</div>
								<!-- End Skill List Area  -->
							</div>
						</div>
					</div>
					<!-- End Single Tab  -->
				</div>

			</div>
		</div>

		<div class="row mt--45">
			<div class="col-lg-12">
				<ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="professional-tab" data-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="false">professional
						Skills</a>
					</li>
				</ul>
				<!-- Start Tab Content Wrapper  -->
				<div class="rn-nav-content tab-content" id="myTabContents">
					<!-- Start Single Tab  -->
					<div class="tab-pane show active fade single-tab-area " id="professional" role="tabpanel" aria-labelledby="professional-tab">
						<div class="personal-experience-inner mt--40">
							<div class="row row--40">
								<!-- Start Single Progressbar  -->
								<div class="col-lg-6 col-md-6 col-12">
									<div class="progress-wrapper">
										<div class="content">
											<span class="subtitle">Features</span>
											<h4 class="maintitle">Design Skill</h4>
											<!-- Start Single Progress Charts -->
											<div class="progress-charts">
												<h6 class="heading heading-h6">PHOTOSHOT</h6>
												<div class="progress">
													<div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">85%</span>
													</div>
												</div>
											</div>
											<!-- End Single Progress Charts -->

											<!-- Start Single Progress Charts -->
											<div class="progress-charts">
												<h6 class="heading heading-h6">FIGMA</h6>
												<div class="progress">
													<div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">80%</span>
													</div>
												</div>
											</div>
											<!-- End Single Progress Charts -->

											<!-- Start Single Progress Charts -->
											<div class="progress-charts">
												<h6 class="heading heading-h6">ADOBE XD</h6>
												<div class="progress">
													<div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">60%</span></div>
												</div>
											</div>
											<!-- End Single Progress Charts -->

											<!-- Start Single Progress Charts -->
											<div class="progress-charts">
												<h6 class="heading heading-h6">ADOBE ILLUSTRATOR</h6>
												<div class="progress">
													<div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 70%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">70%</span></div>
												</div>
											</div>
											<!-- End Single Progress Charts -->

											<!-- Start Single Progress Charts -->
											<div class="progress-charts">
												<h6 class="heading heading-h6">DESIGN</h6>
												<div class="progress">
													<div class="progress-bar wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay=".7s" role="progressbar" style="width: 95%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span
														class="percent-label">95%</span></div>
													</div>
												</div>
												<!-- End Single Progress Charts -->

											</div>
										</div>
									</div>
									<!-- End Single Progressbar  -->
									<!-- Start Single Progressbar  -->
									<div class="col-lg-6 col-md-6 col-12 mt_sm--60">
										<div class="progress-wrapper">
											<div class="content">
												<span class="subtitle">Features</span>
												<h4 class="maintitle">Development Skill</h4>
												<!-- Start Single Progress Charts -->
												<div class="progress-charts">
													<h6 class="heading heading-h6">Ruby on Rails</h6>
													<div class="progress">
														<div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 90%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">90%</span></div>
													</div>
												</div>
												<!-- End Single Progress Charts -->
												<!-- Start Single Progress Charts -->
												<div class="progress-charts">
													<h6 class="heading heading-h6">HTML & CSS</h6>
													<div class="progress">
														<div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 100%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">100%</span></div>
													</div>
												</div>
												<!-- End Single Progress Charts -->

												<!-- Start Single Progress Charts -->
												<div class="progress-charts">
													<h6 class="heading heading-h6">JAVASCRIPT</h6>
													<div class="progress">
														<div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">80%</span></div>
													</div>
												</div>
												<!-- End Single Progress Charts -->
												<!-- Start Single Progress Charts -->
												<div class="progress-charts">
													<h6 class="heading heading-h6">Python</h6>
													<div class="progress">
														<div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span	class="percent-label">80%</span></div>
													</div>
												</div>
												<!-- End Single Progress Charts -->
												<!-- Start Single Progress Charts -->
												<div class="progress-charts">
													<h6 class="heading heading-h6">Android Development</h6>
													<div class="progress">
														<div class="progress-bar wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay=".7s" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span	class="percent-label">75%</span></div>
													</div>
												</div>
												<!-- End Single Progress Charts -->
											</div>
										</div>
									</div>
									<!-- End Single Progressbar  -->
								</div>
							</div>
					</div>
						<!-- End Single Tab  -->
				</div>

			</div>
		</div>

		<div class="row mt--45">
			<div class="col-lg-12">
				<ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">experience</a>
					</li>
				</ul>
				<!-- Start Tab Content Wrapper  -->
				<div class="rn-nav-content tab-content" id="myTabContents">
					<!-- Start Single Tab  -->
							<div class="tab-pane show active fade single-tab-area" id="experience" role="tabpanel" aria-labelledby="experience-tab">
							<div class="personal-experience-inner mt--40">
								<div class="row">
									<!-- Start Skill List Area  -->
									<div class="col-lg-6 col-md-12 col-12">
										<div class="content">
											<span class="subtitle">Personal Projects</span>
											<h4 class="maintitle">Projects</h4>
											<div class="experience-list">
												<!-- Start Single List  -->
												<div class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Alpha Blog</h4>
																<span>Ruby on Rails</span>
															</div>
															<div class="date-of-time">
																<span>ROR</span>
															</div>
														</div>
														<p class="description">Ruby on Rails Initialization Learning.</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Devise</h4>
																<span>Ruby on Rails</span>
															</div>
															<div class="date-of-time">
																<span>ROR GEM</span>
															</div>
														</div>
														<p class="description">Implementation of Devise Gem in Rails Web App for Authantication.</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Portfolio Project</h4>
																<span>Ruby on Rails</span>
															</div>
															<div class="date-of-time">
																<span>ROR</span>
															</div>
														</div>
														<p class="description">Personal Portfolio Projects in Ruby on Rails</br>
														https://rana-m-ammar.herokuapp.com/</p>
													</div>
												</div>
												<!-- End Single List  -->
											</div>
										</div>
									</div>
									<!-- End Skill List Area  -->

									<!-- Start Skill List Area 2nd  -->
									<div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
										<div class="content">
											<span class="subtitle">Projects</span>
											<h4 class="maintitle">Work Projects</h4>
											<div class="experience-list">

												<!-- Start Single List  -->
												<div class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Town Management System</h4>
																<span>Ruby on Rails</span>
															</div>
															<div class="date-of-time">
																<span>ROR</span>
															</div>
														</div>
														<p class="description">Complete Management of Town, in which management of Plots, Buildings, Expenses, Employees, Shops, Installments</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Connect MD</h4>
																<span>Ruby on Rails</span>
															</div>
															<div class="date-of-time">
																<span>ROR</span>
															</div>
														</div>
														<p class="description">Completre Hospital Menagement System.</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Web Base Nevigation System</h4>
																<span>Ruby on Rails</span>
															</div>
															<div class="date-of-time">
																<span>ROR</span>
															</div>
														</div>
														<p class="description">A Nevigation System in which you can navigate locations with optimal routes and easily found places.</p>
													</div>
												</div>
												<!-- End Single List  -->

											</div>
										</div>
									</div>
									<!-- End Skill List Area  -->
								</div>
							</div>
						</div>
						<!-- End Single Tab  -->
				</div>

			</div>
		</div>

		<div class="row mt--45">
			<div class="col-lg-12">
				<ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="interview-tab" data-toggle="tab" href="#interview" role="tab" aria-controls="interview" aria-selected="false">Job Experience</a>
					</li>
				</ul>
				<!-- Start Tab Content Wrapper  -->
				<div class="rn-nav-content tab-content" id="myTabContents">
					<!-- Start Single Tab  -->
							<div class="tab-pane show active fade single-tab-area" id="interview" role="tabpanel" aria-labelledby="interview-tab">
							<div class="personal-experience-inner mt--40">
								<div class="row">
									<!-- Start Skill List Area  -->
									<div class="col-lg-6 col-md-12 col-12">
										<div class="content">
											<span class="subtitle">Experience</span>
											<h4 class="maintitle">Work Experience</h4>
											<div class="experience-list">
												<!-- Start Single List  -->
												<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true" class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Developer</h4>
																<span>Comsats Software House</span>
															</div>
															<div class="date-of-time">
																<span>02/2019 - 12/2020</span>
															</div>
														</div>
														<p class="description">Internship in Comsats University Sahiwal Campus</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Project Manager</h4>
																<span>Comsats Software House)</span>
															</div>
															<div class="date-of-time">
																<span>02/2019 - 12/2020</span>
															</div>
														</div>
														<p class="description">Initialization of Project, Management and Development and Designing working in Both Front-End and Back-End Phases</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="700" data-aos-once="true" class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Working Home</h4>
																<span>............</span>
															</div>
															<div class="date-of-time">
																<span>.......</span>
															</div>
														</div>
														<p class="description">...........</p>
													</div>
												</div>
												<!-- End Single List  -->
											</div>
										</div>
									</div>
									<!-- End Skill List Area  -->

									<!-- Start Skill List Area 2nd  -->
									<div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
										<div class="content">
											<span class="subtitle">Experience</span>
											<h4 class="maintitle">Work Experience</h4>
											<div class="experience-list">
												<!-- Start Single List  -->
												<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="700" data-aos-once="true" class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Working Home</h4>
																<span>............</span>
															</div>
															<div class="date-of-time">
																<span>.......</span>
															</div>
														</div>
														<p class="description">...........</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="700" data-aos-once="true" class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Working Home</h4>
																<span>............</span>
															</div>
															<div class="date-of-time">
																<span>.......</span>
															</div>
														</div>
														<p class="description">...........</p>
													</div>
												</div>
												<!-- End Single List  -->

												<!-- Start Single List  -->
												<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="700" data-aos-once="true" class="resume-single-list">
													<div class="inner">
														<div class="heading">
															<div class="title">
																<h4>Working Home</h4>
																<span>............</span>
															</div>
															<div class="date-of-time">
																<span>.......</span>
															</div>
														</div>
														<p class="description">...........</p>
													</div>
												</div>
												<!-- End Single List  -->
											</div>
										</div>
									</div>
									<!-- End Skill List Area  -->
								</div>
							</div>
						</div>
						<!-- End Single Tab  -->
				</div>

			</div>
		</div>
	</div>
</div>
<!-- End Resume Area -->