<%= video_tag "video.mkv", autoplay: :autoplay, loop: :loop, muted: :muted, class: "myVideo" %>

<div class="site-wrapper">

    <main class="container">

        <h1 class="des1">Thanks!</h1>
        <h1 class="des">Your Message has been send Successfully.</h1>
        <div style="text-align: center;">
            <%= link_to root_path do %>
                <div class="btn btn-default"><i class="margin fas fa-home"></i>HOME</div>
            <% end %>
        </div>

    

</main>

</div>