@import "bootstrap-sprockets";
@import "bootstrap";



.prop{
	border: 4px solid black;
}

.pimg{
	border-radius: 50%;
	border: 2px solid black;
}



.progress1 {
  height: 35px;
}
.progress1 .skill1 {
  font: normal 12px "Open Sans Web";
  line-height: 15px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress1 .skill1 .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar1 {
  text-align: left;
  transition-duration: 3s;
}

.radus{
  border-radius: 6px;
}


.mb{
  margin: 15px;
}



.ml{
  margin-left: 15px;
}

.skills1{
  font-weight: 500;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: large;
}


.cc{
  color: blue;
}

.globe1{
  font-size: 2rem !important;
  color: darkred;
}

.w3-blue1, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #4A63E7!important;
}

.portSize{
  width: 800px;
  height: 600px;
}

.container{
  margin-top: 50px;
  margin-bottom: 50px;
}

p{
  text-align: justify;
}

.hero .cta h1{
  font-weight: 700;
}

.hidden{
  display: none;
}

.des{
  color: white;
  text-align: center;
  margin-top: 32rem;
}

.bg1{
  width: 3rem;
  height: 1rem;
  color: darkred;
}

.des1{
  color: white;
  text-align: center;
  font-weight: 800;
}